albucore==0.0.8
albumentations==1.4.8
annotated-types==0.7.0
contourpy==1.2.1
cycler==0.12.1
ffmpeg-python==0.2.0
fonttools==4.53.0
future==1.0.0
imageio==2.34.1
imageio-ffmpeg==0.5.1
imgaug==0.4.0
joblib==1.4.2
kiwisolver==1.4.5
lazy_loader==0.4
matplotlib==3.9.0
networkx==3.3
numpy==1.26.4
opencv-python==4.10.0.82
opencv-python-headless==4.10.0.82
packaging==24.0
pillow==10.3.0
pydantic==2.7.3
pydantic_core==2.18.4
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
scikit-image==0.23.2
scikit-learn==1.5.0
scipy==1.13.1
shapely==2.0.4
six==1.16.0
threadpoolctl==3.5.0
tifffile==2024.5.22
tomli==2.0.1
typing_extensions==4.12.1
