<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="">
    <h1>Real-time Video Stream</h1>
    <button onclick="startVideo()">Start Video</button>
    <button onclick="stopVideo()">Stop Video</button>
    <canvas id="videoCanvas" width="640" height="480"></canvas>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
      const socket = io();
      const canvas = document.getElementById("videoCanvas");
      const context = canvas.getContext("2d");

      socket.on("video_frame", (data) => {
        const img = new Image();
        img.src = `data:image/jpeg;base64,${data.frame}`;
        img.onload = () => {
          context.drawImage(img, 0, 0);
        };
      });

      function startVideo() {
        socket.emit("startvideo");
      }

      function stopVideo() {
        socket.emit("stopvideo");
      }
    </script>
  </body>
</html>
